@import url('https://fonts.googleapis.com/css?family=Limelight|Open+Sans');
body, html {
  height: 100%;
  margin: 0;
}

.bgimg-1 {
  position: relative;
  opacity: 0.75;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("white.jpg");
  height: 100%;
}

.caption {
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
  color: white;
  opacity:1;
}

h1 {
  font-family: 'Limelight', cursive;
  font-size: 50pt;
  margin: 0;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15pt;
  margin-top: -10px;

}
