@import url('https://fonts.googleapis.com/css?family=Limelight|Open+Sans');
body, html {
  height: 100%;
  margin: 0;
}

.bgimg-1 {
  position: relative;
  opacity: 0.60;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("white.jpg");
  height: 100%;
}

.caption {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  color: black;
  opacity: 1;
}

h1 {
  font-family: 'Limelight', cursive;
  font-size: 40pt;
  margin: 0;
  opacity: 1;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15pt;
  margin-top: -5px;
  margin-bottom: 10px;
}

#about {
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color: black;
  height: 2em;
  width: 10em;
  background-color: white;
  border: none;
  border-radius: 12px;
  padding: .2em;
  font-weight: bold;
}

#about:hover {
  background-color: #f693b1;
}
